@model List<MyFirstMVCApp.Models.TimePerson>

<!DOCTYPE html>
<html>
    <head>
        <title>Results</title>
    </head>
    <body>
        <h1>Results</h1>
        <table>
            <tr>
                <th>Year</th>
                <th>Honor</th>
                <th>Name</th>
                <th>Country</th>
                <th>Birth Year</th>
                <th>Death Year</th>
                <th>Title</th>
            </tr>
            @foreach (var item in Model)
            {

            }
        </table>
    </body>
</html>
